form{
text-align: left;
margin-left: 35%;
font-family: 'Open Sans', sans-serif;
}
input{
  margin: 5px 0;
}
label{
  display: inline-block;
  width: 130px;
}
.terminos{
  width: 280px;
  margin: 10px;
}
#button{
  padding: 5px 10px;
}
